@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
        width: 6px;     /* Tamaño del scroll en vertical */
        height: 8px;    /* Tamaño del scroll en horizontal */
        display: none;  /* Ocultar scroll */
}
